.btn{
    display: inline-block; 
    background-color: #B8E04A; 
    color: white; 
    
    font-weight: 50; 
    padding: 14px 40px;
    border-radius: 20px; 
    text-decoration: none; 
    box-shadow: 0 6px 0 #8fb932; 
    transition: all 0.2s ease;
    font-family: "Ysabeau Infant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;    
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 9px 0 #8fb932;
}
.btn:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 #8fb932;
}
h1{
    font-family: "Ysabeau Infant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color:white;
    text-align: center;
    font-size: 50px;
    text-shadow: 
    -1px -1px 0 dodgerblue,
    -1px 1px 0 dodgerblue,
    1px 1px 0 dodgerblue,
    1px -1px 0 dodgerblue;

}
p{
    font-family: "Ysabeau Infant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color:white;
    text-align: center;
    font-size: 25px;
    text-shadow: 
    -1px -1px 0 dodgerblue,
    -1px 1px 0 dodgerblue,
    1px 1px 0 dodgerblue,
    1px -1px 0 dodgerblue;
}
body{
    background-image: url(imagenes/inicio.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.registro{
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.contenedorsup{
margin: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1%;
}
